# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ========================
# Virtual Environment
# ========================
venv/
env/
ENV/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# ML / Model files
# ========================
*.hdf5
*.pkl
*.joblib

# # ========================
# # Uploaded / Generated Images
# # ========================
# static/uploads/*
# !static/uploads/.gitkeep

# ========================
# Flask
# ========================
instance/
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Environment Variables
# ========================
.env
